# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
venv/
env/
.env
*.sqlite3
staticfiles/
media/

# Node
node_modules/
dist/
.env.local

# IDE
.idea/
.vscode/
*.swp
.DS_Store

*.tfvars

# some configurations files that may contain sensitive information (will be removed from the repository)
configurations/